﻿
<h4>В доступе отказано</h4>
<div class="alert alert-danger" role="alert">
  У вас нет прав для просмотра статистики. Проверьте логин и пароль и перелогиньтесь.
</div>

<div class="mt-5">
    <a asp-controller="admin" asp-action="Index">Назад</a>
</div>