﻿@model IEnumerable<DonationApp.Web.Models.Donater>
@using DonationApp.Web.Core

@{
    ViewData["Title"] = "Statistic";
}

<h1>Статистика</h1>

<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
}
    </tbody>
    <tfoot>
        <tr>
            <td class="fw-bold fs-3">Итого</td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold fs-3">@Repository.AllSumOfDotanions() $</td>
            <td></td>
        </tr>
    </tfoot>
</table>
