﻿@model DonationApp.Web.Models.Donater

<h4>Успешное проведение платежа</h4>

<div class="alert alert-success" role="alert">
  Большое спасибо @Model.Name ваши деньги пойдут по назначению.
  Мы также отправили вам на почту письмо с подтверждением платежа.
</div>

<div class="mt-5">
    <a asp-controller="Donate" asp-action="Index">На главную</a>
</div>